@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans&display=swap');

$navColor: #F2F2F2;
$bodyColor: #FFFFFF;
$lightBlack: #434343;
$goldenColor: #D9BF8D;

/* AccMenu */
.account-menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: $navColor;
}

.call-number{
    display: flex;
    align-items: center;
    margin-left: 40px;
    span{
        margin-left: 20px;
    }
}

.nav-elements{
    ul{
        display: flex;
        flex-flow: row wrap;
    }
    li{
        display: flex;
        padding: 0px 35px;
        border-right: 1px solid $lightBlack;
        margin-right: 25px;
    }
    a{
        text-transform: uppercase;
        text-decoration: none;
        color: $lightBlack;
        font-size: 12px;
        font-weight: 500;
        transition: 0.5s;
    }
    a:hover{
        color: $goldenColor;
    }
    #last-nav-el{
        border: none;
    }
}

/* Header */
.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.head-nav{
    ul{
        display: flex;
        flex-flow: row wrap;
    }
    li{
        display: flex;
        padding: 0px 20px;
    }
    a{
        text-decoration: none;
        color: $lightBlack;
        font-style: italic;
        font-weight: 500;
        transition: 0.5s;
    }
    a:hover{
        color: $goldenColor;
    }
}

.header h1{
    font-family: 'Lobster', cursive;
    font-style: italic;
    font-size: 52px;
}

.social-elements{
    display: flex;
    align-items: center;

    ul{
        display: flex;
        flex-flow: row wrap;
        margin-right: 40px;
    }
    li{
        display: flex;
        padding: 0px 10px;
    }
    #social-icons{
        color: $goldenColor;
        border: 2px solid $goldenColor;
        padding: 8px;
        border-radius: 50%;
        transition: 0.5s;
    }
    #social-icons:hover{
        background-color: $lightBlack;
        color: $bodyColor;
    }
    select{
        background-color: $lightBlack;
        color: $bodyColor;
        padding: 10px 5px;
        text-transform: uppercase;
        margin-right: 20px;
        font-size: 12px;
        outline: none;
    }
}

/* Sale */
.sale{
    background-image: url(./Components/img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .first-square{
        border: 1px solid $bodyColor;
        padding: 5px;
    }
    .second-square{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid $bodyColor;
        padding: 10px 50px;
        text-transform: uppercase;
        h3{
            color: $bodyColor;
            font-weight: 500;
            font-size: 16px;
        }
        h2{
            font-size: 48px;
            margin: 0;
        }
        span{
            font-weight: bold;
            font-size: 24px;
        }
    }
    button{
        padding: 10px 20px;
        background-color: #F09D67;
        color: $bodyColor;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
        margin-top: 5%;
        transition: 1s;
    }
    button:hover{
        background-color: $goldenColor;
        color: $lightBlack;
    }
    .squares{
        display: flex;
        align-items: center;
        margin-top: 5%;
        .square{
            height: 10px;
            width: 10px;
            transform: rotate(45deg);
            display: inline-block;
            margin-left: 10px;
            transition: 1s;
            background-color: #cac8c8;
        }
        .square:hover{
            background-color: $lightBlack;
        }
    }
}

/* Shipping */
.shipping{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 5%;
}

.free-shipping, .support{
    display: flex;
    align-items: center;
    padding: 0px 20px;
    background-color: $goldenColor;
    color: $bodyColor;
    width: 325px;
    height: 105px;
    position: relative;
    #shipping-icon{
        font-size: 40px;
    }
    div{
        margin-left: 25px;
    }
    h4{
        font-size: 27px;
        text-transform: uppercase;
        margin: 0;
    }
    span{
        font-size: 14px;
    }
}
.free-shipping:after{
    content:"";
    position:absolute;
    height:0;
    width:0;
    left:100%;
    top:0;
    border:53px solid transparent;
    border-left: 40px solid $goldenColor;
}
.support:after{
    content:"";
    position:absolute;
    height:0;
    width:0;
    right:100%;
    top:0;
    border:53px solid transparent;
    border-right: 40px solid $goldenColor;
}

.return-money{
    display: flex;
    align-items: center;
    padding: 0px 45px;
    background-color: black;
    color: $bodyColor;
    width: 325px;
    height: 105px;
    position: relative;
    #shipping-icon{
        font-size: 40px;
    }
    div{
        margin-left: 25px;
    }
    h4{
        font-size: 27px;
        text-transform: uppercase;
        margin: 0;
    }
    span{
        font-size: 14px;
    }
}
.return-money::before{
    content:"";
    position:absolute;
    height:0;
    width:0;
    right:78%;
    top:0;
    border:53px solid transparent;
    border-left: 40px solid $bodyColor;
}
.return-money:after{
    content:"";
    position:absolute;
    height:0;
    width:0;
    left:78%;
    top:0;
    border:53px solid transparent;
    border-right: 40px solid $bodyColor;
}

/* Titles */
.titles{
    display:flex;
    flex-direction:row;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
     .text-title{
        flex-grow:0;
        margin-right: 72px;
        margin-left: 72px;
        font-family: 'Kaushan Script', cursive;
        font-size: 28px;
        font-weight: bold;
      }
      .divider{
        flex-grow:1;
        height: 1px;
        background-color: #c7c3c3;
      }
      .title-square{
        height: 15px;
        width: 15px;
        transform: rotate(45deg);
        transition: 1s;
        background-color: $goldenColor;
        margin-left: 50px;
        margin-right: 50px;
    }
    .title-square:hover{
        background-color: $lightBlack;
    }
}

/* HandCollection */
.hand-collection{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .collection-disc, .collection-off{
        display: flex;
        flex-direction: column;
    }
    #img1{
          height: 753px;
          width: 350px;
          opacity: 1;
          transition: 1s;
    }
    #img1:hover, #img2:hover, #img3:hover, #img4:hover, #img5:hover{
        opacity: 0.7; 
    }
    #img2{
        padding: 15px;
        border: 5px solid #999696;
        background-color: #999696;
    }
    #img2, #img3, #img4, #img5{
          height: 330px;
          width: 375px;
          margin-bottom: 20px;
          opacity: 1;
          transition: 1s;
    }
    #img1,#img3, #img4, #img5{
        padding: 15px;
        border: 5px solid #E3E3E3;
    }
    #img4{
        margin-bottom: 50px;
    }
    button{
        position: relative;
        bottom: 15%;
        left: 40%;
        width: 100px;
        padding: 10px;
        background-color: #F09D67;
        color: #FFFFFF;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        transition: 1s;
    }
    button:hover{
        background-color: $goldenColor;
        color: $lightBlack;
    }
  }
  

  /* Responsive Design */

  /* Portrait */
@media only screen and (max-width: 900px) {
    /* AccMenu*/
    .account-menu{
        justify-content: center;

        .nav-elements ul{
            justify-content: center;
        }
        .nav-elements li{
            border-right: none;
            border-bottom: 1px solid #434343;
            padding: 0px 12px;
            margin-bottom: 15px;
        }
        .nav-elements a{
            font-size: 16px;
        }
    }

    /* Header */

    .header{
        flex-direction: column;

        .head-nav ul{
            flex-direction: column;
        }
        .head-nav li{
            margin-bottom: 15px;
        }
        .head-nav a{
            font-size: 20px;
        }

        .social-elements ul{
            margin-right: 0;
        }
    }

    /* Sale */
    .sale{
        height: 65vh;
        background-position-x: right;
    }

    /* Shipping */
    .shipping{
        .free-shipping:after{
            left: 78%;
            border: 5px solid transparent;
        }
        .free-shipping, .support, .return-money{
            margin-bottom: 15px;
        }
        .return-money:after{
            left: 76%;
            border: 48px solid transparent;
            border-right: 40px solid #FFFFFF;
        }
    }
    

    /* Titles */
    .titles{
        .title-square{
            margin-left: 0;
            margin-right: 0;
        }
        .text-title{
            margin-right: 25px;
            margin-left: 25px;
        }
    }


    /* HandCollection */
    .hand-collection #img2, .hand-collection #img3, .hand-collection #img4, .hand-collection #img5{
        height: 300px;
        width: 310px;
    }
    .hand-collection #img1{
        width: 310px;
        margin-bottom: 10px;
    }
}

